body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#canvas {
  width: 800px;
  height: 600px;
}

#framerate {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
}
