<!doctype html>
<html>
  <head>
    <title>Venzio</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/styles.css" />
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="https://checkout.stripe.com/v2/checkout.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/client/lib/analytics.js"></script>
<% if (is_game) { %>
    <script type="text/javascript" src="/client/lib/glMatrix-0.9.5.min.js"></script>
    <script type="text/javascript" src="/client/ClientGlobals.js"></script>
    <script data-main="/app.js" src="/client/lib/require.js"></script>
<% } %>
  </head>
  <body>
    <div id="header">
      <div id="topbar">
        <div id="logo">
          <a href="/"><img src="/headerLogo.png" alt="logo" /></a>
        </div>
        <div id="nav">
          <ul>
            <li><a href="/demo">demo</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/jobs">jobs</a></li>
            <li><a href="mailto:contact@venz.io">contact</a></li>
          </ul>
        </div>
<% if (logged_in) { %>
        <div id="user_menu">
          <a id="profile_link" href="/profile"><%= username %></a>
          <a id="signout_link" href="/logout">log out</a>
        </div>
<% } else { %>
        <div id="guest_menu">
          <a id="login_link" href="/login">login</a>
          <a id="signup_link" href="/signup">signup</a>
        </div>
<% } %>
      </div>
    </div>
    <div id="content">
      <div id="center">
