      <div id="login">
        <h2>login</h2>
<% if (locals.failed) { %>
        <p>This email/password combination isn't correct</p>
<% } %>
        <form method="get" action="/playerLogin">
          <label for="login_email_or_username">email/username</label>
          <div class="rounded_input">
            <input id="login_email_or_username" name="email_or_username" <% if (locals.username) { %>value="<%= locals.username %>"<% } %> type="text" />
          </div>
          <label for="login_password">password</label>
          <div class="rounded_input">
            <input id="login_password" name="password" type="password" />
          </div>
          <div id="login_button_container">
            <input id="login_button" value="login" type="submit" />
          </div>
        </form>
      </div>
