body, html {
  background-color: #39f;
  margin: 0;
}

#header {
  width: 100%;
  height: 40px;
  padding: 10px 0;
  background-color: #39f;
  box-shadow: inset 0 -7px 7px -7px #000000;
}

#content * {
  font-family: 'Segoe UI', 'Segoe WP', 'Segoe UI Regular', 'Helvetica Neue', 'Helvetica', 'Tahoma', 'Arial Unicode MS', sans-serif;
  color: #555;
}

#header *,
#footer * {
  font-family: 'Segoe UI', 'Segoe WP', 'Segoe UI Regular', 'Helvetica Neue', 'Helvetica', 'Tahoma', 'Arial Unicode MS', sans-serif;
  color: #fff;
}

#header a,
#footer a {
  text-decoration: none;
}

#header a:hover,
#footer a:hover {
  color: #22a;
}

#header #topbar {
  width: 950px;
  height: 40px;
  margin: 0 auto;
}

#header #topbar #guest_menu,
#header #topbar #user_menu {
  float: right;
}

#header #topbar #guest_menu a,
#header #topbar #user_menu a {
  float: left;
  width: 100px;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 6px;
}

#header #topbar #logo {
  width: 106px;
  height: 30px;
  margin: 5px 0;
  float: left;
}

#header #topbar ul {
  height: 25px;
  float: left;
  margin-left: 36px;
  margin-top: 10px;
}

#header #topbar li {
  height: 30px;
  float: left;
}

#header #topbar ul li a,
#footer #bottombar ul li a {
  margin-left: 15px;
  margin-right: 15px;
}

#footer {
  width: 100%;
  height: 12px;
  background: #39f;
  padding: 20px 0;
  box-shadow: inset 0 7px 7px -7px #000000;
}

#footer #bottombar li {
  height: 12px;
  float: right;
}

#footer #bottombar {
  width: 960px;
  margin: 0 auto;
}

#footer #bottombar #copyright {
  display: inline-block;
  float: left;
}

#footer #bottombar #copyright span {
  font-size: 12px;
}

#footer #bottombar #social {
  width: 300px;
  float: right;
  font-size: 12px;
}

#content {
  background-color: #e7f0ff;
  width: 100%;
  height: 100%;
  padding: 40px 0;
  min-height: 600px;
}

#content #center {
  width: 960px;
  margin: 0 auto;
}

#canvas-wrapper {
  width: 960px;
  height: 720px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
}

#canvas-wrapper #canvas {
  background-color: #fff;
  height: 720px;
  width: 960px;
}

#canvas-wrapper #framerate {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
}

#canvas-wrapper #ping {
  position: absolute;
  top: 26px;
  left: 10px;
  color: #fff;
}

#canvas-wrapper #cursor {
  display: none;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 352px;
  left: 472px;
}

#loading {
  width: 960px;
  height: 520px;
  background: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  padding-top: 280px;
}

#loading h3 {
  display: inline-block;
  color: #fff;
}

#loading-wrapper {
  position: relative;
  height: 75px;
  width: 265px;
  margin: 0 auto;
}

#loading-done, #loading-todo, #loading img {
  margin-top: 10px;
  height: 75px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#loading-done {
  background: #39f;
  width: 0px;
}

#loading-todo {
  background: #aaa;
  width: 265px;
}

#instructions {
  margin-top: 20px;
  width: 960px;
  text-align: center;
}

#instructions ul {
  list-style: none;
}

#jobs h1 {
  font-size: 24px;
  color: #39f;
  margin-bottom: 12px;
}

#jobs > p {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
}

#jobs li.position {
  border-top: 1px solid #ccc;
  padding: 20px 0;
}

#jobs li.position h2 {
  display: inline-block;
  font-size: 18px;
  color: #666;
  margin-bottom: 16px;
}

#jobs li.position h3 {
  font-size: 14px;
  color: #666;
  margin: 8px 0;
}

#jobs li.position li {
  font-size: 14px;
  color: #666;
}

#jobs li.position li:before {
  content: "-";
  color: #666;
  padding-right: 0.4em;
}

#jobs li.position a {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
}

#jobs li.position p {
  font-size: 14px;
  color: #666;
}

#signup,
#login {
  width: 480px;
  height: auto;
  margin: 40px auto 0 auto;
  border: 1px solid #aac;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  font-size: 0;
}

#signup form,
#login form {
  display: inline-block;
  font-size: 12px;
}

#signup h2,
#login h2 {
  display: block;
  margin: 30px 0;
  font-size: 32px;
  text-align: center;
  color: #3af;
}

#signup form label {
  width: 120px;
}

#login form label {
  width: 155px;
}

#signup form label,
#login form label {
  display: block;
  margin-top: 17px;
  margin-right: 20px;
  height: 20px;
  float: left;
  text-align: right;
  color: #666;
  font-size: 16px;
}

#signup .rounded_input,
#login .rounded_input {
  float: left;
  width: 240px;
  height: 40px;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #aac;
  border-radius: 8px;
  margin: 6px auto 0 auto;
}

#signup input[type="text"],
#signup input[type="password"],
#login input[type="text"],
#login input[type="password"] {
  border: 0;
  margin: 0 10px 0 10px;
  padding: 0;
  width: 230px;
  height: 40px;
  font-size: 20px;
}

#signup #signup_button_container,
#login #login_button_container {
  margin: 30px 0;
  float: left;
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
}

#signup input[type="submit"],
#login input[type="submit"] {
  color: #666;
  border: 1px solid #aac;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 100px;
  height: 40px;
}

#developers {
  text-align: center;
}

#developers h1 {
  font-size: 28px;
  text-align: center;
}

#developers #bubble {
  width: 760px;
  margin: 20px 0;
  display: inline-block;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  border: 1px solid #aac;
  text-align: left;
}

#developers #bubble h2 {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 10px;
}

#developers #bubble p.padBottom {
  margin-bottom: 20px;
}

#developers #bubble ul {
  margin-left: 20px;
  list-style: disc;
}

#developers #bubble li {
  margin-top: 10px;
}

#developers #bubble #minibubbles {
  display: inline-block;
  width: 760px;
}

#developers #bubble .minibubble {
  border: 1px solid #aac;
  border-radius: 8px;
  float: left;
  padding: 12px;
  width: 214px;
  height: 150px;
  margin-left: 20px;
}

#developers #bubble .minibubble h3 {
  display: inline-block;
  margin-bottom: 10px;
}

#developers #bubble .minibubble:first-child {
  margin-left: 0;
}
