body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#center {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

#canvas {
  background-color: #000;
  height: 600px;
  width: 800px;
}

#framerate {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
}

#ping {
  position: absolute;
  top: 26px;
  left: 10px;
  color: #fff;
}

#instructions {
  width: 800px;
  text-align: center;
}

#instructions ul {
  list-style: none;
}
