body, html {
  margin: 0;
}

#header {
  width: 100%;
  height: 30px;
  padding: 10px 0;
  background-color: #2992fd;
  box-shadow: inset 0 -7px 7px -7px #000000;
}

#header #topbar {
  width: 950px;
  height: 30px;
  margin: 0 auto;
}

#header #topbar #logo {
  width: 106px;
  height: 30px;
  float: left;
}

#header #topbar ul {
  height: 25px;
  float: left;
  margin-left: 36px;
  margin-top: 5px;
}

#header #topbar li {
  height: 30px;
  float: left;
}

#header #topbar ul li a,
#footer #bottombar ul li a {
  font-family: 'Segoe UI', 'Segoe WP', 'Segoe UI Regular', 'Helvetica Neue', 'Helvetica', 'Tahoma', 'Arial Unicode MS', sans-serif;
  text-decoration: none;
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}

#footer {
  width: 100%;
  height: 16px;
  background: #2992fd;
  padding: 22px 0;
  box-shadow: inset 0 7px 7px -7px #000000;
}

#footer #bottombar li {
  height: 30px;
  float: right;
}

#footer #bottombar {
  width: 960px;
  margin: 0 auto;
}

#footer #bottombar #copyright {
  display: inline-block;
  float: left;
}

#footer #bottombar #copyright span {
  font-family: 'Segoe UI', 'Segoe WP', 'Segoe UI Regular', 'Helvetica Neue', 'Helvetica', 'Tahoma', 'Arial Unicode MS', sans-serif;
  color: #fff;
}

#footer #bottombar #social {
  width: 300px;
  float: right;
}

#content {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 40px 0;
  min-height: 800px;
}

#content #center {
  width: 960px;
  margin: 0 auto;
}

#canvas-wrapper {
  width: 960px;
  height: 720px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
}

#canvas {
  background-color: #fff;
  height: 720px;
  width: 960px;
}

#framerate {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
}

#ping {
  position: absolute;
  top: 26px;
  left: 10px;
  color: #fff;
}

#loading {
  width: 960px;
  height: 520px;
  background: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  padding-top: 200px;
}

#loading h3 {
  color: #fff;
}

#loading-wrapper {
  position: relative;
  height: 75px;
  width: 265px;
  margin: 0 auto;
}

#loading-done, #loading-todo, #loading img {
  height: 75px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#loading-done {
  background: #2992fd;
  width: 0px;
}

#loading-todo {
  background: #aaa;
  width: 265px;
}

#instructions {
  margin-top: 20px;
  width: 960px;
  text-align: center;
}

#instructions ul {
  list-style: none;
}
